<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <style>

        img
        {
            max-width: 100%;
        }


        #navigation
        {
            position: sticky;
            top: 0;
            background: #e8e8e8;
            margin: 10px auto 10px;
            border-radius: 20px;
            width: 90%;
            height: 25%;
            box-shadow: 5px 5px 3px 1px;
            z-index: 1000;
        }


        a.button7
        {
            font-weight: 700;
            height: 100%;
            max-width: 100%;
            color: white;
            text-decoration: none;
            padding: .8em 1em calc(.8em + 3px);
            border-radius: 3px;
            background: rgb(0,123,255);
            box-shadow: 0 -3px rgb(0,99,204) inset;
            transition: 0.2s;
        }
    </style>

    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header::header"></header>

<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Персидская кошка</h4>
                </div>
                <div class="card-body">
                    <img src="../static/image/perscat.jpg">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>Страна происхождения:</b>Армения, Иран, Турция</li>
                        <li><b>Вес:</b>3,5-7 кг</li>
                        <li><b>Продолжительность жизни:</b>15-20 лет</li>
                    </ul>
                    <a href="#" class="button7">кнопка</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Рэгдолл</h4>
                </div>
                <div class="card-body">
                    <img src="https://c.wallhere.com/photos/ab/97/cat_furry_lie_face-659977.jpg!d">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>Страна происхождения:</b>США</li>
                        <li><b>Вес:</b>Самец:4-6 кг, Самка: 6-9 кг</li>
                        <li><b>Продолжительность жизни:</b>11-15 лет</li>
                    </ul>
                    <a href="#" class="button7">кнопка</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Шотландская вислоухая</h4>
                </div>
                <div class="card-body">
                    <img src="https://c.wallhere.com/photos/e8/10/2048x1280_px_animals_baby_cat_cats_cute_Fat_fluffy-1913313.jpg!d">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>Страна происхождения:</b>Великобритания, Шотландия</li>
                        <li><b>Вес:</b>4-7 кг</li>
                        <li><b>Продолжительность жизни:</b>12-15 лет</li>
                    </ul>
                    <a href="#" class="button7">кнопка</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Девон-рекс</h4>
                </div>
                <div class="card-body">
                    <img src="https://c.wallhere.com/photos/cf/2f/sphynx_cat_spotted-578247.jpg!d">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>Страна происхождения:</b>Великобритания</li>
                        <li><b>Вес:</b>2,3-4,5 кг</li>
                        <li><b>Продолжительность жизни:</b>12-17 лет</li>
                    </ul>
                    <a href="#" class="button7">кнопка</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Сиамская кошка</h4>
                </div>
                <div class="card-body">
                    <img src="https://1000kotov.ru/wp-content/uploads/2015/03/siamese-cat-high-quality-wallpapers.jpg">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>Страна происхождения:</b>Таиланд</li>
                        <li><b>Вес:</b>4-8 кг</li>
                        <li><b>Продолжительность жизни:</b>12-20 лет</li>
                    </ul>
                    <a href="#" class="button7">кнопка</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Сибирская кошка</h4>
                </div>
                <div class="card-body">
                    <img src="https://c.wallhere.com/photos/e5/53/1920x1200_px_cat_grass-527777.jpg!d">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>Страна происхождения:</b>Россия</li>
                        <li><b>Вес:</b>3,5-12 кг</li>
                        <li><b>Продолжительность жизни:</b>17-20 лет</li>
                    </ul>
                    <a href="#" class="button7">кнопка</a>

                </div>
            </div>
        </div>
    </div>
</main>
<div th:insert="blocks/footer::footer"></div>

</body>
</html>