<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <style>

    img
    {
      max-width: 100%;
    }


    #navigation
    {
      position: sticky;
      top: 0;
      background: #e8e8e8;
      margin: 10px auto 10px;
      border-radius: 20px;
      width: 90%;
      height: 25%;
      box-shadow: 5px 5px 3px 1px;
      z-index: 1000;
    }


    a.button7
    {
      font-weight: 700;
      height: 100%;
      max-width: 100%;
      color: white;
      text-decoration: none;
      padding: .8em 1em calc(.8em + 3px);
      border-radius: 3px;
      background: rgb(0,123,255);
      box-shadow: 0 -3px rgb(0,99,204) inset;
      transition: 0.2s;
    }
  </style>

  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header::header"></header>

<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Волнистый попугай</h4>
        </div>
        <div class="card-body">
          <img src="https://c.wallhere.com/photos/19/31/parrots_branch_birds-1022202.jpg!d">
          <ul class="list-unstyled mt-3 mb-4">
            <li><b>Вес:</b>30-50 гр</li>
            <li><b>Рост:</b>12-18 см</li>
            <li><b>Продолжительность жизни:</b>10-15 лет</li>
          </ul>
          <a href="#" class="button7">кнопка</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Попугаи неразлучники</h4>
        </div>
        <div class="card-body">
          <img src="https://st-gdefon.gallery.world/wallpapers_original/392721_gallery.world.jpg">
          <ul class="list-unstyled mt-3 mb-4">
            <li><b>Вес:</b>30-50 гр</li>
            <li><b>Рост:</b>10-17 см</li>
            <li><b>Продолжительность жизни:</b>10-15 лет</li>
          </ul>
          <a href="#" class="button7">кнопка</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Корелла</h4>
        </div>
        <div class="card-body">
          <img src="https://3.bp.blogspot.com/-s7fc_CMiAxU/WADivOxvxmI/AAAAAAAA7zk/eSTUTQlSiC8WpMJe92712f6T1GQrtx3FgCLcB/s1600/kartinkijane_ru-68892.jpg">
          <ul class="list-unstyled mt-3 mb-4">
            <li><b>Вес:</b>100-120 гр</li>
            <li><b>Рост:</b>30-35 см</li>
            <li><b>Продолжительность жизни:</b>20 лет</li>
          </ul>
          <a href="#" class="button7">кнопка</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Ожереловый попугай</h4>
        </div>
        <div class="card-body">
          <img src="https://c.wallhere.com/photos/d8/8d/parrot_beak_bird-642896.jpg!d">
          <ul class="list-unstyled mt-3 mb-4">
            <li><b>Вес:</b>100-110 гр</li>
            <li><b>Рост:</b>35-45 см</li>
            <li><b>Продолжительность жизни:</b>20-30 лет</li>
          </ul>
          <a href="#" class="button7">кнопка</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Розелла</h4>
        </div>
        <div class="card-body">
          <img src="https://c.wallhere.com/photos/eb/26/parrot_birds_colorful_tail-1065613.jpg!d">
          <ul class="list-unstyled mt-3 mb-4">
            <li><b>Вес:</b>50-60 гр</li>
            <li><b>Рост:</b>25-30 см</li>
            <li><b>Продолжительность жизни:</b>15-20 лет</li>
          </ul>
          <a href="#" class="button7">кнопка</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Жако</h4>
        </div>
        <div class="card-body">
          <img src="https://2.bp.blogspot.com/-KiggUGKL0lY/WAyATlnZznI/AAAAAAAAGEo/rXIvsjAJ-kIsXdRMvt3vQnszi3D5w7htQCLcB/s1600/grey-parrot-wallpaper.jpeg">
          <ul class="list-unstyled mt-3 mb-4">
            <li><b>Вес:</b>400-600 гр</li>
            <li><b>Рост:</b>30-35 см</li>
            <li><b>Продолжительность жизни:</b>40-60 лет</li>
          </ul>
          <a href="#" class="button7">кнопка</a>

        </div>
      </div>
    </div>
  </div>
</main>
<div th:insert="blocks/footer::footer"></div>

</body>
</html>