<div th:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <nav id ="navigation" align="center" style="font-size: 130%">
                 <a style="text-decoration:none" href="/">Питомцы</a>|
                |<a style="text-decoration:none" href="/us">О нас</a>|
                |<a style="text-decoration:none" href="army.html">Для администрации</a>|
                |<a style="text-decoration:none" href="/login">Login</a>|
                |<a style="text-decoration:none" href="/userL">Login</a>
            </nav>
        </header>
    </div>
</div>